<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Grimoire: Add Entry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/additem.css}" rel="stylesheet"/>
</head>
<body>
<div class="float-container">
    <form action="#" th:action="@{/additem}" method="post">

        <div class="float-child">
            <input class="feedback-input" th:name="name" type="text" placeholder="Spell name"/>
            <input class="feedback-input" type="text" th:name="school" placeholder="School"/>
            <input class="feedback-input" type="text" th:name="tradition" placeholder="Tradition"/>
            <input class="feedback-input" type="text" th:name="components" placeholder="Components"/>
            <textarea class="feedback-input" type="text" th:name="description" placeholder="Description"/></textarea>

        </div>

        <div class="float-child">
            <input class="feedback-input" type="number" th:name="level" placeholder="Level"/>
            <input class="feedback-input" type="text" th:name="area" placeholder="Area"/>
            <input class="feedback-input" type="text" th:name="range" placeholder="Range"/>
            <input class="feedback-input" type="text" th:name="target" placeholder="Target"/>
            <input class="feedback-input" type="text" th:name="savingthrow" placeholder="Saving throw"/>
            <input align="center" type="submit" value="Save"/>

        </div>


    </form>
</div>
</body>
</html>